<%- include("header") -%>
    
<% for(key in listacmt) { %>
    <div class="grid-item">
        <img src="" alt="">
        <div class="placaCmt">
            <h5><%= listacmt[key].nome %></h5>
            <p> <%= listacmt[key].anoInicio %> - <%= listacmt[key].anoSaida %></p>
        </div>
    </div>
<% } %>

<%- include("footer") -%>